.wrapper {
   height: 65avh;
   width: 100vw;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;
}

.wrapper img {
   width: 12%;
}
