.wrapper {
   width: 100vw;
   height: 900px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
   background-image: url("https://uploads-ssl.webflow.com/6150fc97b11e848cdb37692f/6151b3aaa49dd81532a699bf_Vector2.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 0 90%;
}

.hr {
   border: none;
   border-bottom: 5px solid dodgerblue;
   border-radius: 8px;
   width: 70%;
   margin: 0 auto;
   margin-top: 5px;
}

.cardDiv {
   display: flex;
   width: 100%;
   justify-content: space-around;
}

.body {
}
